.footer {
  padding: 50px 0;
  background-color: $yellow;
  font-size: 15px;

  @include md {
    padding: 20px 0 80px 0;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}

.footer__label {
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;

  @include md {
    margin-top: 35px;
  }
}

.footer__socialLinks {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }
}

.footer__socialLink {
  display: inline-flex;

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.footer__credits {
  line-height: 24px;

  @include md {
    margin-top: 55px;
  }
}
